* {
  box-sizing: border-box;
}

body {
  background-color: #000000;
  padding: 20px;
  font-family: "Josefin Sans", sans-serif;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

h2,
h1,
p {
  color: #ffffff;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content-gallery {
  background-color: grey;
  padding: 10px;
  transition: transform 0.15s; /* Animation */
}

.zoom:hover {
  transform: scale(
    2
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.zoom2:hover {
  transform: scale(
    3
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}